<h1>Sign up</h1>
<form action="/user/register" method="POST" >
    <input type="name" name="first_name" placeholder="Enter youe name"  required>
    <input type="email" name="email" placeholder="Enter youe email"  required>
    <input type="text" name="password" placeholder="Enter youe password"  required>
    <input type="text" name="last_name" placeholder="lastname"  required>
    <input type="text" name="gender" placeholder="gender"  required>
    <input type="text" name="phone_no" placeholder="phone"  required>

    <button type=""Submit>Submit </button>
</form>